<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/local/css/login.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/local/css/login.css">
</head>
<body>
<div th:fragment="top">
    <form action="/logout"><input id="logout" type="submit" value="退出登录"></form>
    <div id = "uName" th:text="${session.uName}"></div>
</div>

</body>
</html>